[run]
omit =
    caipiao/ui/*
    caipiao/ui/**
    caipiao/ml/*
    caipiao/ml/**
    caipiao/web/*
    caipiao/web/**

[report]
show_missing = true
omit =
    caipiao/ui/*
    caipiao/ui/**
    caipiao/ml/*
    caipiao/ml/**
    caipiao/web/*
    caipiao/web/**
