[run]
branch = True
omit =
    caipiao/ui/*
    caipiao/ui/**
    caipiao/ml/*
    caipiao/ml/**
    caipiao/web/*
    caipiao/web/**

[report]
show_missing = true
fail_under = 90
omit =
    caipiao/ui/*
    caipiao/ui/**
    caipiao/ml/*
    caipiao/ml/**
    caipiao/web/*
    caipiao/web/**
